<div class="container text-center">
    <br />
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    {{listado}}
                </div>
                {{#if productos.length}}
                    {{#each productos}}
                        <br />
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-5">
                                <div class="card">
                                    <img src="{{thumbnail}}" class="card-img-top" alt="{{title}}" />
                                    <div class="card-body">
                                        <h5 class="card-title">{{title}}</h5>
                                        <p class="card-text">{{description}}</p>
                                        <p class="card-text">Codigo: {{code}}</p>
                                        <p class="card-text">Stock: {{stock}}</p>
                                        <button type="button" id="agregarCarrito" class="btn btn-outline-success"><i
                                                class="bi bi-cart-check-fill bi-3x"
                                            ></i>
                                        </button>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <div class="col"></div>
                        </div>
                    {{/each}}
                {{else}}
                    <br />
                    <div class="row">
                        <h5 class="card-title">No hay Productos Listados</h5>
                    </div>
                    <br />
                {{/if}}
            </div>
            <br />
        </div>
    </div>
</div>